* { padding: 0; margin: 0; }

.container {
	width: 60%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #000;
}

#header {
	padding: 20px ;
	background: #C0C0C0;
	border: 5px solid #FFFFFF;
}

.content {
	width: 60%;
	padding: 20px;
	background: #C0C0C0;
	border: 5px solid #FFFFFF;
}

.sidebar {
	width: 26%;
	background: #C0C0C0;
	border: 5px solid #FFFFFF;
	padding: 20px 27px;
} 

.content, .sidebar {
	float: left;
}

#footer {
	overflow: hidden;
	padding: 20px;
	background: #C0C0C0;
	border: 5px solid #FFFFFF;
}