menu {
	width: 70%;
	margin: 0 auto;
	padding: 0 0;
	background: #A0A0A0;
	overflow: hidden;
	border: 1px solid black;
}

menu a {
	display: block; 
}

menu > li {
	border-right:1px double black;
	float: left;
	display: block;
}

menu li a {
	transition: background-color 0.5s ease;
	text-decoration: none;
	padding: 20px;
	color: black;
}

menu li a:hover {
	background: #E0E0E0;
	color: #580000;
}
	
menu li > ul {
	display: none;  
	position: absolute;  
	padding: 0px 0px; 
	background: #A0A0A0; 
}

menu li:hover > ul:not(:-moz-handler-blocked){ /* mozilla */
	top: 10%;	
}

menu li:hover > ul { 
	top: 7.8%;
	border: 1px solid black;
	list-style-type:none;
	display: block; 
}
	
menu li ul li,
	* {	
		list-style-type:none;
	}

	#one { 
		top: 0.2%;
	    left: 101%;
	}

	#two { 
		top: 25%;
	    left: 100%;
	}
	#three { 
		top: 50%;
	    left: 100%;
	}

	#four { 
		top: 75%;
	    left: 100%;
}





.body {
	width: 73%;
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
}

.content {
	width: 70%;
	padding: 15px;
}

.sidebar {
	width: 24.5%;
}

.content , .sidebar {
	float: left;
}

.sidebar a {
	display: block;
}

.sidebar li a {
	background: #D0D0D0 ;
	transition: background-color 0.5s ease;
	text-decoration: none;
	padding: 20px 0px;
	color: black;
}

.sidebar li a:hover {
	text-decoration: underline;
	color: #580000;
	background: #FFFFFF;
	border: 5px solid #FFFFFF;
}
